.Navbar nav {
    padding: 0 55px !important;
    border: 2px solid var(--primary);
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.25);
}

.mainNav li{
    height: 100%;
}


.mainNav .nav-item:hover {
    background-color: var(--primary);
}
.mainNav .nav-item:hover * {
    color: var(--white) !important;
}
#navbarNav .active span {
    color: var(--white) !important;
}
#navbarNav .active li{
    background-color: var(--primary);
}

.loginText{
    color: var(--primary);
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}
.loginText:hover{
    color: var(--primary);
    text-decoration: underline;
}

.primaryColoredIcon{
    color: var(--primary);
    font-size: 36px;
    cursor: pointer;
}
.primaryColoredIcon:hover{
    color: var(--primary-hover);
}   

/* Mobile Only */
@media (max-width: 992px) {
    .Navbar nav {
        padding: 0 10px !important;
    }
    .Navbar ul{
        margin-bottom: 10px !important;
    }
}

/* Web Only*/
@media (min-width: 992px) {
    .Navbar ul{
        height: 100%;
    }
    .Navbar li{
        display: flex;
        align-items: center;
    }
    #navbarNav{
        height: 82.5px;
    }
}
